{% extends 'django_template_limitless/base.html' %}
{% load static %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_nodes').DataTable({
                pageLength: 10,
                order: [[0, "asc"]]
            });
        });
    </script>
{% endblock %}

{% block content %}
    <table id="all_nodes" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>HOSTNAME</th>
            <th>NAME</th>
            <th>EDIT</th>
        </tr>
        </thead>
        <tbody>
        {% for node in all_nodes %}
            <tr>
                <td>{{ node.id }}</td>
                <td>{{ node.node_hostname_fqdn }}</td>
                <td>{{ node.wireless_node_title }}</td>
                <td>
                    <a href="/nodes/edit/{{ node.node_hostname_fqdn }}">
                        <b><i class="icon-database-edit2"></i></b>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
