{% extends 'django_template_limitless/base.html' %}
{% load static %}

{% block customcss %}
{% endblock %}

{% block customjs %}
{% endblock %}

{% block content %}
    <form method="post" action="/nodes/edit/{{ node_data.node_hostname_fqdn }}">{% csrf_token %}
        wireless_node_title:<br>
        <input type="text" name="wireless_node_title" id="wireless_node_title"
               value="{{ node_data.wireless_node_title }}"><br>
        wireless_node_geo_lat (ex. 51.1505051):<br>
        <input type="text" name="wireless_node_geo_lat" id="wireless_node_geo_lat"
               value="{{ node_data.wireless_node_geo_lat }}"><br>
        wireless_node_geo_long (ex. 7.3419867):<br>
        <input type="text" name="wireless_node_geo_long" id="wireless_node_geo_long"
               value="{{ node_data.wireless_node_geo_long }}"><br>
        wireless_node_domain:<br>
        <input type="text" name="wireless_node_domain" id="wireless_node_domain"
               value="{{ node_data.wireless_node_domain }}"><br>
        wireless_node_lan_bridge:<br>
        <input type="text" name="wireless_node_lan_bridge" id="wireless_node_lan_bridge"
               value="{{ node_data.wireless_node_lan_bridge }}"><br>
        wireless_node_lldp_enabled:<br>
        <input type="text" name="wireless_node_lldp_enabled" id="wireless_node_lldp_enabled"
               value="{{ node_data.wireless_node_lldp_enabled }}"><br>
        wireless_node_mesh_on_lan_enabled:<br>
        <input type="text" name="wireless_node_mesh_on_lan_enabled" id="wireless_node_mesh_on_lan_enabled"
               value="{{ node_data.wireless_node_mesh_on_lan_enabled }}"><br>
        wireless_node_snmp_enabled:<br>
        <input type="text" name="wireless_node_snmp_enabled" id="wireless_node_snmp_enabled"
               value="{{ node_data.wireless_node_snmp_enabled }}"><br>
        wireless_node_updater_branch:<br>
        <input type="text" name="wireless_node_updater_branch" id="wireless_node_updater_branch"
               value="{{ node_data.wireless_node_updater_branch }}"><br>
        wireless_node_updater_enabled:<br>
        <input type="text" name="wireless_node_updater_enabled" id="wireless_node_updater_enabled"
               value="{{ node_data.wireless_node_updater_enabled }}"><br>
        <br>
        <button type="submit">Save!</button>
    </form>
{% endblock %}
